/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(120deg, #0C134F, #1D267D);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #D4ADFC;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

nav a {
    margin-left: 20px;
    color: #D4ADFC;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #ffffff;
}

/* HERO SECTION */
.hero {
    text-align: center;
    margin-top: 10vh;
}

.hero h2 {
    font-size: 42px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    opacity: 0.9;
    margin-bottom: 30px;
}

.btn-group {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    width: 170px;
    padding: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.primary {
    background: #D4ADFC;
    color: #1D267D;
    font-weight: bold;
}

.primary:hover {
    background: #ffffff;
}

.secondary {
    background: transparent;
    border: 2px solid #D4ADFC;
    color: #D4ADFC;
}

.secondary:hover {
    background: #5C469C;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    opacity: 0.8;
}
