body{
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    
}
h2{
    margin-bottom: 20px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap:12px;
}

input{
    /* padding: 10px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.login_btn{
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login_btn:hover{
    background-color: red;
}